*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgba(6, 6, 7, 0.5);
}

header{
    background-color: rgba(135, 129, 145, 0.897);
    min-height: 80px;
    text-align: center;
    
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}
nav li{
    padding:0 1rem;
}
nav a{
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}
nav a:hover{
    border-bottom: 2px solid brown;
}

#welcome{
    background-color: rgba(6, 6, 7, 0.5);
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#welcome h1{
    font-size: 2rem;
    padding: 2rem;
}
#welcome p{
    font-size: 1.5rem;
    color: sienna;
    font-style: italic;
    padding-top: -1rem
}
#welcome li{
  padding: .5rem;
}
@media (max-width:786px){
    nav ul, #welcome{
        flex-direction: column;
    }
    nav li{
        padding: 0.4rem;
    }
}
#project-section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 20px;
    padding: 3rem;
    
}
h3{
    text-align: center;
    color: white;
    font-size: 3rem;
    grid-column: 1 /-1;
    background-color: rgba(203, 203, 224, 0.712);
    padding: 2rem;

}
.project {
    cursor: pointer;
    background-color: rosybrown;
}
.project h2 {
    text-align: center;
    color: rgba(227, 223, 233, 0.897);
    font-size: 1.5rem;

}
.project .project-detail p{
    text-align: justify;
    padding: .5rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3;
    color: rgba(12, 12, 46, 0.719);
}
.project .preview-link{
    text-align: center;
    padding: 2rem;
}
.project .preview-link a{
    color: white;
    cursor: pointer;
    border: 2px solid brown;
    padding: .7rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.project .preview-link a:hover{
    background-color: brown;
    color: white;
    transition: 2s;

}
img{
    width: 100%;
}
#contact{
    padding: 3rem;
    display: grid;
    justify-items: center;
    color: white;
    align-items: center;
    background-color: rgba(6, 6, 7, 0.5);
}
#contact h1{
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: .7rem;
  text-align: center;
}
#contact p{
    font-style: italic;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: sienna;
}
#link-section{
    margin-top: 2rem;
}

#link-section a{
    color: white;
    font-size: 1.4rem;
    padding: .7rem;
}
@media (max-width:786px){
    #link-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}